{:assets 
{}
 :current-tab 0
 
 :manifest 
{:dependencies 
{}
 :description "Demonstrates different methods and tradeoffs for generating sinusoids."
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "Sinusoid Generators"
 :url "https://kronoslang.io"
 :version "0.1"}
 :tabs ("tabs/draft.initial.edn" "tabs/TrigSin.yml1y5451ekmodi.edn" "tabs/PolySin.jhql1ne4o0l64hs.edn" "tabs/ComplexSin.cn9304b2s6lu2bk.edn" "tabs/MagicCircleSin.x7lahujvccp441f.edn" "tabs/WaveguideSin.97yc5zip64c498c.edn")}